.movies{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 140px;
    margin-right: 140px;
    font-family: 'Russo One', sans-serif;

}

.Button button{
    color: #61677c;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}
