.moviecard {
    width: 350px;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
    background: #ead9d9;
    border-radius: 14px;

}

img {
    border-radius: 14px;
    width: 350px;
    height: 350px;
}
.button{
    position: absolute;
    top: 10px;
}
