#light {
    background-color: #f3ebf6;
}

#dark {
    background-color: #46045e;
}
#light .body {
    background-color: #fff;
}

#dark .body {
    background-color: #38004c;
}
.switch{
    position: relative;
    left: 1200px;
}